<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="d-flex flex-column mt-5 bg-dark text-light min-vh-100" data-bs-theme="dark">
        <div class="container d-flex flex-column align-items-center justify-content-center bg-dark text-light" style="min-height: 75vh;">
            <h1>Welcome to Fast Diet</h1>
            <img src="/images/logo.jpeg" alt="Logo" class="img-fluid" style="width: 300px; height: auto;"><br><br>

            <h6>Your journey to a healthier lifestyle starts here.</h6><br><br>

            <a href="/auth/login" class="btn btn-success w-50">Login</a><br><br>
            <a href="/auth/register" class="btn btn-success w-50">Register</a>
        </div> 
    </div>
</body>
</html>